---
name: "Setup Docker Engine"
on:
  push:
    branches:
      - 'add/action-docker-install'

jobs:
  setup-docker:
    name: Setup Docker Engine
    runs-on: linux-uat-1

    steps:
      - id: dockerv
        name: Docker Installation Action
        uses: apinyarr/setup-docker-custom-action@v1

      - run: echo "docker version = ${{ steps.dockerv.outputs.version }}"
        shell: bash